@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@500&display=swap');

:root {
  --color-primary: #7380ec;
  --color-danger: #dc143c;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #ffffff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

/*** GENERAL *****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: center;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
}

h1, h2, h3, a {
  text-transform: uppercase;
  color: var(--color-dark);
}

h1 span {
  color: var(--color-primary);
}

h3 {
  font-size: 40px;
  padding-top: 8%;
  margin-bottom: 5px;
}

h4, p, label, select {
  font-family: 'Roboto Slab', serif;
  color: var(--color-dark);
}

hr {
  width: 30px;
  height: 3px;
  background: #494949;
  border: none;
  margin: 0 auto 0 auto;
}

section {
  min-height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*** HEADER *****************/
#header {
  position: fixed;
  width: 100vw;
  height: auto;
  top: 0;
  left: 0;
  z-index: 1000;
}

#header .header {
  min-height: 6vh;
  background-color: var(--color-background);
  box-shadow: var(--box-shadow);
  transition: ease 0.4s box-shadow;
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  padding: 0 10px;
}

#header .logo {
  font-size: 2rem;
}

#header a {
  font-size: 2rem;
  padding: 0 5px;
}

#header .hamburger {
  display: none;
}

#header .nav-list ul {
  position: initial;
  display: block;
  height: auto;
  width: fit-content;
  background-color: transparent;
}

#header .nav-list ul li {
  display: inline-block;
}

#header .nav-list ul:after {
  display: none;
}

/*** HERO *****************/
#hero-section .hero {
  background: url("../assets/img/instruments.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#hero-section .hero-text {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#hero-section h2 {
  margin: 10px 0 40px;
  font-size: 48px;
}


/*** TUNER *****************/
#tuner-section .tuner {
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

#tuner-section .tuner-bottom {
  display: flex;
  flex-direction: row;
}

#tuner-section .tuner-bottom-col {
  flex-basis: 48%;
}


#tuner-section h4 {
  font-size: 24px;
}

#tuner-section select {
  border: none;
  font-size: 1rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 300ms ease;
}

#tuner-section select:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

#tuner-section .left {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin: 0px 10px 0px 10px;
  border: 3px solid black;
  align-items: center;
  align-content: space-between;
  flex-direction: column;
  width: 50%;
  height: 50%;
}

#tuner-section .right {
  display: flex;
  align-content: center;
  border: 3px solid black;
  width: 50%;
}

#tuner-section .right canvas {
  width: 100%;
  height: 100%;
}

#tuner-section .left .select-option {
  margin: 10px 0px 10px 0px;
}

#tuner-section .cta {
  margin-top: 90px;
  display: inline-block;
  padding: 10px 30px;
  color: #494949;
  background-color: transparent;
  border: 2px solid #494949;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  transition: .3s ease;
}

#tuner-section .cta:hover {
  color: white;
  background-color: #494949;
}


/*** FOOTER *****************/
footer {
  width: 100%;
  height: 70px;
  background-color: #494949;
}

footer p {
  font-size: 16px;
  color: #f0f0f0;
  padding-top: 30px;
}


/*** MOBILE RESPONSIVENESS *****************/
@media only screen and (max-width: 700px) {

  /*** SIDE NAV + HAMBURGER*****************/
  #header {
    background: transparent;
    box-shadow: none;
  }

  #header nav {
    margin: 0;
  }

  #header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: var(--color-dark);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    flex-direction: column;
    transition: 0.3s ease left;
  }

  #header .nav-list ul.active {
    left: 0;
  }

  #header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
    letter-spacing: .2rem;
    padding: 20px;
    display: block;
  }

  #header .hamburger {
    z-index: 10000;
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid var(--color-dark);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transform: scale(0.8);
  }

  #header .hamburger.active {
    border: 3px solid white;
  }

  #header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: var(--color-dark);
  }

  #header .hamburger .bar::after,
  #header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: var(--color-dark);
    transition: 0.3s ease;
    transition-property: top, bottom;
  }

  #header .hamburger .bar::after {
    top: 8px;
  }

  #header .hamburger .bar::before {
    bottom: 8px;
  }

  #header .hamburger.active .bar::before {
    bottom: 0;
    background-color: white;
  }

  #header .hamburger.active .bar::after {
    top: 0;
    background-color: white;
  }

  /*** CORRECTIONS FOR HERO *****************/
  #hero-section h2 {
    font-size: 32px;
  }

  #hero-section h1 {
    font-size: 16px;
  }

  #tuner-section .right {
    width: 100%;
    margin-top: 5px;
  }

  #tuner-section .left {
    width: 100%;
  }


  /*** CORRECTIONS FOR TUNER *****************/
  #tuner-section .tuner {
    align-items: center;
  }

  #tuner-section .tuner-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #tuner-section .tuner-bottom-col {
    flex-basis: 48%;
  }
}